* {
	padding: 0;
	margin: 0;
	/* font-family: 'Montserrat', sans-serif; */
    font-family: 'PT Sans', sans-serif;
}
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
/* body{
    background-color: #DC0A1D;
} */
input[type=text],[type=number],[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.red-submit {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    background-color: wheat; 
    color: black;
    border-radius: 6px;
    border: 2px solid #DC0A1D;
}
.red-submit:hover {
    background-color: #45a049;
    color: white;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
p{
    text-align:center;
    color: black;
}
.margin{
    margin-right: 13%;
    margin-left: 13%;
}

.logo{
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo-kecil{
    width:75px!important;
    height: auto;
}

/* header start */
.toolbar{
    padding-top: 10px!important;
    height: 70px!important;
    background: bottom no-repeat #DC0A1D!important;
}
.toolbar--material{
    background-color:#DC0A1D!important;
}
.toolbar-button--material{
    color: white!important;
}
.toolbar--material__center, .toolbar--material__left, .toolbar--material__right{
    color: white!important;
}
a{
    color:white;
}
.notification--material{
    background-color: white!important;
    color: #DC0A1D!important;
}
.w3-red{
    background-color: #DC0A1D!important;
    color: white!important;
}

/* profile */

/* open file */
.img{
    cursor: pointer;
}
  label{
    color: blue;
    cursor: pointer;
    font-size: 15pt;
  }
  
  label:hover{
    text-decoration: none;
    color: pink;
  }
  
  #file_input_id{
    display:none;
  }


/* carousel start */
.media-carousel-xs, .media-carousel-up {
    margin-bottom: 0;
    padding: 15px;
    border: 1px solid #e5e5e5;
    }
    
    
    
    #media-up .thumbnail,
    #media-xs .thumbnail{
    margin-bottom:0;
    }
    
    .media-carousel-xs,
    .media-carousel-up
    {
      margin-bottom: 0;
      padding: 15px;
      border: 1px solid #e5e5e5;
    }
    /* Previous button  */
    .media-carousel-xs .carousel-control.left,
    .media-carousel-up .carousel-control.left
    {
      left: -12px;
      background-image: none;
      background: none repeat scroll 0 0 #eee;
      border: 0 solid #FFFFFF;
      border-radius: 23px 23px 23px 23px;
      height: 22px;
      width : 22px;
      top: 50%;
      margin-top: -10px;
    }
    /* Next button  */
    .media-carousel-xs .carousel-control.right,
    .media-carousel-up .carousel-control.right
    {
      right: -12px !important;
      background-image: none;
      background: none repeat scroll 0 0 #eee;
      border: 0 solid #FFFFFF;
      border-radius: 23px 23px 23px 23px;
      height: 22px;
      width : 22px;
      top: 50%;
      margin-top: -10px;
    }
    
    #media-xs .carousel-control,
    #media-up .carousel-control{
    position: absolute;
    bottom: 0;
    font-size: 14px;
    color: #808080;
    text-shadow: 0 0 0;
    opacity: 1;
    filter: alpha(opacity=100);
    }
    
    .media-carousel-xs .carousel-control:hover,.media-carousel-xs .carousel-control:focus,
    .media-carousel-up .carousel-control:hover,.media-carousel-up .carousel-control:focus{
    color: #808080;
    }
/* carousel end */